.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.grid-container app-image {
  width: 100%;
  height: auto;
}

.sliding-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sliding-container app-image {
  width: auto;
  max-height: 80vh;
}

.sliding-container button {
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.sliding-container button:first-child {
  margin-right: 20px;
}

.sliding-container button:last-child {
  margin-left: 20px;
}

app-photo-info{
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 5;
  display: none;
  background-color: antiquewhite;
}

#locked {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: gray;
  opacity: 0.33;
}

button {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#toggle-slide {
  margin-bottom: 20px;
}
